}
body{
    background-color: aquamarine;
    padding: 10%;
    background-image: linear-gradient(to right,rgb(72, 224, 34),rgb(1, 94, 29));
    height: max-content;
}

/* Menu */

/* LOGO animation */
.logo{
    font-size: 60px;
    margin-left:3%;
    border-left: 1px solid white;
    border-radius: 100px;
    padding: 0px 20px;
}

.logo span::before{
    color:white;
    content: "Nischal";
    animation: logo infinite 4s;
}

@keyframes logo {
    0%{
        content: "Nischal";
    }

    50%{
        content: "Dhakal";
    }
}
/* Logo animation end */

.links{
   list-style: none;
   font-size: larger;
    display: flexbox;
    margin-left: 45%;
    margin-top: 10%;
    border-left: 3px solid white ;
    margin-bottom :20%;
    
}

.links li{
    margin-top: 20px;
    margin-left: 40px;
    
}

.links li a{
    text-decoration: line-through;
    color: white;
}

.links li:nth-child(1){
    margin-top: 100px;
}

.links li a:hover{
    text-decoration: none;
    background-color: white;
    color: black;
    max-width: fit-content;
    padding: 5px;
}

.menu-footer{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

/* Homepage */

.heading{
    margin-top: -100px;
    text-align: center;
    font-size: 40px;
    padding-bottom:20px ;
    border-bottom:2px solid black ;
}

.heading span{
    margin-left: 5px;
    font-size: larger;
    text-decoration: underline solid black 5px;
}

.heading span:hover{
    color: aquamarine;
    text-decoration: underline solid aquamarine 5px;
    transition: 2s;
    transform-style: preserve-3d;
}

.body{
    margin-top: 200px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    margin-right: 50px;
    border-right: 1px solid white;
    padding: 40px;
    max-width: 50%;
}
.about span{
    font-size: 30px;
}

.github{
    height:600px;
    width: 300px;
    border-radius: 50px;
    border-color: black;
    overflow:scroll;
    box-shadow:  3px 3px 5px rgb(19, 223, 29), -3px -3px 5px rgb(33, 240, 6);
}

hr{
    margin-top: 50px;
}

.footer p{
    margin-bottom: 20px;
    text-align: center;
    font-weight: lighter;
    color: white;
}

/* Contact Me */

.contact-heading{
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 40px;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}

.contact .box{
    border: 1px solid black;
    padding: 20px 30px;
    background-color: aliceblue;
}

.contact .box:hover{
    border: 1px solid white;
    padding: 20px 30px;
    color: aliceblue;
    background-color: black;
    transition: .6s;
}

.contact .box h5{
    text-align: center;
    text-decoration: underline;
}

.contact .box p{
    font-family: monospace;
}

/* Hire Me */

.hireme-heading{
    margin-left: 40%;
    font-size: 30px;
    text-decoration: underline;
}

button{
    font-size: 15px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 45%;
    background-image: linear-gradient(to right,rgb(21, 247, 0),rgb(4, 146, 28));
    border-radius: 50px;
    border-color: aliceblue;
}

.second{
    height:50%;
}

/* Blank */

.blank-heading{
    text-align:center;
    color: aliceblue;
    text-decoration:line-through black;
    background-color: rgb(31, 117, 64);
    margin-left: 40%;
}
